* {
  margin: 0px;
}

body {
  overflow: hidden;
}

p {
  font-size: 20px;
}

.wrapper  {
  display: flex;
}

.main  {
  display: flex;
}

.hide {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
}

.side__block  {
  width: 300px;
  height: 100vh;
  background-color: rgb(236, 173, 79);
}